.container {
	width: 101.2%;
	margin-top: -8px;
	margin-left: -8px;
}
.isi {
	display: inline-block;
	width: 100%;
}
.sidebar {
	width: 28%;
	float: left;
	/*border: 1px solid #cacaca;*/
}
.cal {
	width: 70%;
	float: right;
	/*border: 1px solid #cacaca;*/
	padding: 10px;
	height: 100% !important;
}
.tab table{
	width: 100%;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border: 1px solid #cacaca;
	border-radius: 5px 5px 5px 5px;
}
.tab table tr td{
	border: 1px solid #cacaca;
	text-align: right;
	vertical-align: top;
	height: 80px;
	color: white;
	font-weight: bold;
}
.tab table tr td label{
	margin-right: 10px;
}
.tab table thead td {
	height: 40px;
	vertical-align: middle;
	text-align: center;
	width: 14.2%;
	color: white;
	font-weight: bold;
}
.month {
	text-align: center;
	font-size: 19pt;
	margin-bottom: 20px;
}
body {
	background-color: #1a53ff;
}
.ket1 {
	width: 93%;
	margin-top: 3px;
	padding: 5px; 
	background-color: #ff6633; 
}
.ket2 {
	width: 93%;
	padding: 5px; 
	margin-top: 3px;
	background-color: #ff3366;
}
.ket3 {
	width: 93%;
	padding: 5px; 
	margin-top: 3px;
	background-color: #33ff33;
	overflow-y: hidden;
}